In [6]:
import pandas as pd
from portfolio_sim import runSim

In [7]:
#inputs
start_date = '2005-01-01'
end_date = '2023-10-10'
buy_size = 0.03
simple = True
df_newsig = pd.read_excel(r"C:\Users\MarcoHui\Knightsbridge Asset Management, LLC\Knightsbridge - Documents\Portfolio Management\Research\Destrier\Destrier Data\Python Simulator Marco\Data\SimulatorData 50ATS OLD VERSION 35.xlsx", sheet_name='prices', skiprows=1)
df_benchmarks = pd.read_excel(r"C:\Users\MarcoHui\Knightsbridge Asset Management, LLC\Knightsbridge - Documents\Portfolio Management\Research\Destrier\Destrier Data\Python Simulator Marco\Data\BenchmarkPrices.xlsx", sheet_name='prices', skiprows=1)

In [3]:
#df_newsig_s = df_newsig.drop([0, 1, 2, 3], axis=1)
#runSim(df_newsig_s, df_benchmarks, start_date, end_date, buy_size, simple, 5)

In [4]:
df_newsig.head(5)

,SourceDateNam,NewSort,Source,Name and Ticker,Signal Date to Use,Relevant Universe?,IQT,First Pricing Date,Last Pricing Date,Price on Last Date,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,SpocksBrainX38408CDW,1,SpocksBrainX,CDW Corp CDWC,2005-02-25,1,IQT2596404,1993-05-27,2007-10-12,87.72,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,SpocksBrainX38652Tal,2,SpocksBrainX,Talbot's TLB,2005-10-27,1,IQT2656523,1993-11-19,2012-08-03,2.76,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,met9938694Key,3,met99,Key Energy kegs.pk,2005-12-08,1,IQT2623882,1980-10-16,2016-12-15,0.132,...,6.72000,6.82000,6.79000,6.79000,6.79000,6.81000,7.07000,6.85000,6.94000,6.88000
3,armand44038735M.D,4,armand440,M.D.C. Holdings MDC,2006-01-18,1,IQT2627600,1975-01-06,2023-10-30,na,...,17.31923,16.64152,16.62144,17.04815,17.04815,17.04815,17.22887,17.41963,17.49995,17.49995
4,sparky37138790US,5,sparky371,US Gypsum USG,2006-03-14,1,IQT2660121,1993-05-07,2019-04-23,43.48,...,28.56690,28.54713,28.86344,28.68551,28.96229,28.96229,28.96229,28.76459,28.57678,28.34943

In [8]:
maxlag = 10

for i in range(1,maxlag+1):
    # Ensure pricing data starts n days after signal post (so we have previous price data on day one)
    df_newsig_s = df_newsig.drop(list(range(i-1)), axis=1)

    output = runSim(df_newsig_s, df_benchmarks, start_date, end_date, buy_size, simple, i)
    print(str(i) + ': ' + str(output))

1: 0.12173467253409287
2: 0.12076271525584659
3: 0.11752345056241187
4: 0.1198445762628686
5: 0.11938349592831732
6: 0.12072372482373561
7: 0.12136203563906256
8: 0.12163416213655953
9: 0.12070092113550834
10: 0.12275494129082887